<!DOCTYPE HTML>
<html>
<head>
    <title>Sweater Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hello user!</h1>
<p>Это главная страница, она видна всем</p>
<p>Авторизованные пользователи могут работать с <a href="/main">сообщениями</a>.</p>
</body>
</html>