<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sweater Login</title>
</head>
<body>
    <h1>Добавить нового пользователя</h1>
    {{ #message}} <span style="color: red">{{ message }}</span>{{ /message }}
    <form method="post" action="/registration">
      <div><label>User Name: <input type="text" name="username" /></label></div>
      <div><label>Password: <input type="password" name="password" /></label></div>
      <input type="hidden" name="_csrf" value="{{ _csrf.token }}" />
      <div><input type="submit" value="Зарегистрироваться" /></div>
    </form>
</body>
</html>